<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="/posts">
    <input type="text" placeholder="Enter a title to your post" name="title"/><br/>
    <textarea name="body"></textarea>
    <input type="submit" value="add a post"/>
</form>
</body>
</html>